@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("imgs/background.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Play', sans-serif;
  }
  
  .game {
    overflow: hidden;
    position: relative;
  }
  
  button {
    position: fixed;
    margin-top: 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:10px;
  }

  button:hover
{
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
  
  .nftTotalScore {
    position: absolute;
    font-size: 3vmin;
    right: 30vmin;
    top: 4vmin;
    color: white;
  }
  
  .gweiTotalScore {
    position: absolute;
    font-size: 3vmin;
    right: 30vmin;
    top: 1vmin;
    color: white
  }
  
  .score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
    color: white;
  }
  
  .button1 {
    position: absolute;
    font-size: 3vmin;
    left: 1vmin;
    top: 1vmin;
  }
  
  .button2 {
    position: absolute;
    font-size: 3vmin;
    left: 1vmin;
    top: 5vmin;
  }
  
  .button3 {
    position: absolute;
    font-size: 3vmin;
    left: 1vmin;
    top: 10vmin;
  }
  
  
  .score1 {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 4vmin;
    color: white;
  }
  
  
  .start-screen {
    position: absolute;
    font-size: 8vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
   
  
  
  .hide {
    display: none;
  }
  
  .ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%)
  }
  
  .player {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
  }
  
  .obstacle {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
  }
  
  .nft {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 100px;
  }